---
import RegisterForm from "~/components/features/RegisterForm";
import AppHeader from "~/components/ui/AppHeader.astro";
import Layout from "../../layouts/Layout.astro";

const { id = "" } = Astro.params;
---

<Layout title="Register Item">
  <AppHeader title="Register Item" showBack backUrl={`/${id}`} />

  <main class="px-4 py-6">
    <RegisterForm listId={id} client:load />
  </main>
</Layout>
