---
import ItemList from "~/components/features/item-list";
import AppHeader from "~/components/ui/app-header";
import Layout from "../../layouts/Layout.astro";

const { id = "" } = Astro.params;
---

<Layout title="Room Items">
  <AppHeader title="Room Items" client:load />

  <main class="px-4 py-6">
    <ItemList listId={id} client:load />
  </main>
</Layout>
