---
import HistoryList from "@/components/features/HistoryList";
import AppHeader from "@/components/ui/AppHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="History">
  <AppHeader title="History" />

  <main class="px-4 py-6">
    <p class="text-sm text-slate-600 text-center mb-6">Lists you have visited recently.</p>

    <HistoryList client:only="solid-js" />
  </main>
</Layout>
