---
import HistoryList from "~/components/features/HistoryList";
import AppHeader from "~/components/ui/AppHeader";
import Layout from "../layouts/Layout.astro";
---

<Layout title="History">
  <AppHeader title="History" showBack backUrl="/" client:load />

  <main class="px-4 py-6 space-y-6">
    <HistoryList client:only="solid-js" />
  </main>
</Layout>
