---
import { ChevronRight, Clock, DoorOpen } from "lucide-solid";
import HistoryList from "~/components/features/HistoryList";
import RoomCreateForm from "~/components/features/RoomCreateForm";
import AppHeader from "~/components/ui/AppHeader";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Dashboard">
  <AppHeader title="Dashboard" client:load />

  <main class="px-4 py-6 space-y-6">

    <div class="space-y-4 py-2">
      <h2 class="flex items-center gap-2 text-lg font-bold px-1">
        <DoorOpen class="size-6 text-primary" />
        New Room
      </h2>

      <RoomCreateForm client:load />
    </div>

    <div class="space-y-4 pt-8 border-t border-border/50">
      <div class="flex items-center justify-between px-1">
        <div class="flex items-center gap-2 text-lg font-bold">
          <Clock class="size-6 text-primary" />
          <span>Recent</span>
        </div>
        <a href="/history" class="text-sm text-primary hover:underline flex items-center gap-1 font-medium">
          All
          <ChevronRight class="size-4" />
        </a>
      </div>
      <HistoryList client:only="solid-js" maxItems={3} />
    </div>
  </main>
</Layout>
