.wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.submitButton {
  width: 100%;
  font-weight: 700;
  box-shadow: var(--elevation-4);
}

.submitButtonContent {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.submitIcon {
  width: 1.5rem;
  height: 1.5rem;
}
